@font-face {
    font-family: 'AFKlampenborg';
    src: url('../fonts/AFKlampenborg.eot') format('embedded-opentype'),
    url('../fonts/AFKlampenborg.ttf')  format('truetype'),
    url('../fonts/AFKlampenborg.svg#AFKlampenborg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helios';
    src: url('../fonts/Helios.eot') format('embedded-opentype'),
    url('../fonts/Helios.ttf')  format('truetype'),
    url('../fonts/Helios.svg#Helios') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.eot') format('embedded-opentype'),
    url('../fonts/ArialMT.ttf')  format('truetype'),
    url('../fonts/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}





/*------------------------------------------------------*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
    border: 1px dotted green;
    background: linear-gradient(to bottom, #e0e5e8 0%,#e2e8e8 5%,#e7ebec 9%,#eeeff1 14%,#fefefe 49%);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/*--------------------------------------------------------------------------------*/

header,
main,
footer {
    width: 780px;
    margin: 0 auto;
    border: 1px dotted red;

}
.auth ul {
    margin: 0;
}
.auth li {
    float: right;
    list-style: none;
    height: 38px;  /*  testing*/



}

.auth a {
    font-family: ArialMT;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;

}
.auth-login {
    width: 60px;
    background-color: white;
    padding: 0 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.auth-register {
    width: 100px;
    background-color: white;
    padding: 0 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.auth-register a {
    border-right: 1px solid gray;
}


.logo {
    /*display: block;*/
}
.logo img {
    float: left;
}
.slogan {
    width: 75px;
    display: block;
    float: left;
    margin-top: 15px;
}
.logo h1 {
    float: right;
    font-size: 15px;
}

aside {
    width: 230px;
    float: left;

}

.content {
    float: right;
    width: 530px;
}

dt, dd {
    border: 1px solid black;
}

dt {
    float: left;
    width: 50px;
}

dd {
    margin: 0;
}

/*----------------*/

/*   http://htmler.ru/2014/10/21/css-transition-css3/     background gray-> color    */