@font-face {
    font-family: 'AFKlampenborg';
    src: url('../fonts/AFKlampenborg.eot') format('embedded-opentype'),
    url('../fonts/AFKlampenborg.ttf')  format('truetype'),
    url('../fonts/AFKlampenborg.svg#AFKlampenborg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helios';
    src: url('../fonts/Helios.eot') format('embedded-opentype'),
    url('../fonts/Helios.ttf')  format('truetype'),
    url('../fonts/Helios.svg#Helios') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.eot') format('embedded-opentype'),
    url('../fonts/ArialMT.ttf')  format('truetype'),
    url('../fonts/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}





/*------------------------------------------------------*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
    border: 1px dotted green;
    background: linear-gradient(to bottom, #e0e5e8 0%,#e2e8e8 5%,#e7ebec 9%,#eeeff1 14%,#fefefe 49%);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/*--------------------------------------------------------------------------------*/

header,
main,
footer {
    width: 780px;
    margin: 0 auto;

    /*Testing options*/
    /*border: 1px dotted red;*/
    margin-bottom: 10px;
}
/*-------------------HEADER-----------------------------*/
/*----------------header-auth----------------------*/
.auth {
    margin-bottom: 23px;
}
.auth ul {
    margin: 0;
}
.auth li {
    float: right;
    list-style: none;
    /*height: 38px;  !*  testing*!*/
    margin-top: -14px;
    padding-bottom: 7px;
}

.auth a {
    font-family: Arial;
    font-style: normal;
    font-size: 11px;
    text-decoration: none;
    display: block;
    margin-top: 18px;

}
.auth-login {
    width: 60px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.auth-login a {
    padding-left: 12px;
    color: #02a4fa;
}

.auth-register {
    width: 100px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.auth-register a {
    border-right: 1px solid gray;
    color: #747474;
    padding-left: 25px;
}

/*----------- header-logotype + h1-------------- */
.logo {

}
.logo img {
    float: left;
}
.slogan {
    width: 120px;
    display: block;
    float: left;
    margin-top: 15px;
    font-family: AFKlampenborg;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
    color: #939598;
}


.logo h1 {
    float: right;
    margin-top: 18px;
    margin-right: 27px;
    color: #646464;
    font-family: Helios;
    font-size: 15px;
    font-weight: bold;

}

/*--------------header-nav--------------*/
.nav {
    border-bottom: 1px solid #939598;

}

li.active-tab {
    background: linear-gradient(to bottom, rgba(255,255,255,0.99) 0%,rgba(255,255,255,1) 9%,rgba(255,255,255,0.92) 23%,rgba(255,255,255,0.67) 62%,rgba(255,255,255,0.08) 91%,rgba(255,255,255,0.01) 100%);
    border-bottom-color: #EFF0F2;


}

li.active-tab a {
    color: #45b8fb;
}

li.nav-main {
    border-top-left-radius: 23px;

}

.nav-targets {

}

.nav-companies {
    border-top-right-radius: 23px;
}


.nav ul {
    list-style: none;
    float: right;
    margin: 0;
    margin-right: 20px;
    margin-bottom: -1px;
}


.nav-main,
.nav-targets,
.nav-companies {
    /*float: right;*/
    width: 130px;
    display: inline-block;
    padding: 12px 0;
    border: 1px solid #939598;
    text-align: center;
    margin-left: -1px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(179,153,128,0.04) 61%,rgba(170,149,128,0.05) 64%,rgba(170,153,136,0.06) 66%,rgba(165,150,135,0.07) 68%,rgba(166,153,128,0.08) 70%,rgba(162,151,127,0.09) 73%,rgba(163,143,133,0.09) 75%,rgba(164,146,128,0.1) 77%,rgba(165,150,135,0.13) 82%,rgba(165,145,131,0.14) 84%,rgba(168,149,131,0.15) 86%,rgba(168,145,133,0.17) 89%,rgba(165,145,130,0.2) 93%,rgba(167,145,132,0.23) 98%,rgba(0,0,0,0) 100%);

}

.nav a {
    /*width: 56px;*/

    color: #939598;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

/*---------------------MAIN------------------------------*/


aside {
    width: 230px;
    float: left;

}

.content {
    float: right;
    width: 530px;
}

dt, dd {
    border: 1px solid black;
}

dt {
    float: left;
    width: 50px;
}

dd {
    margin: 0;
}

/*----------------*/

/*   http://htmler.ru/2014/10/21/css-transition-css3/     background gray-> color    */